node_modules
pnpm-lock.yaml

# build dirs
build
dist
.next
.graphclient

# Jest
coverage

# JetBrains IDE
.idea

docs/docusaurus.config.js
.docusaurus


# Generated code
apis/prove/generated

next-env.d.ts
next.config.js

public
