node_modules
pnpm-lock.yaml

# build dirs
dist
.next
.graphclient

# Jest
coverage

# JetBrains IDE
.idea

# Generated code
apis/prove/generated
circuits/circom/generated

next-env.d.ts
next.config.js

public
