node_modules
pnpm-lock.yaml

# build dirs
dist
.next
.graphclient
wasm-pkg

# Jest
coverage

# JetBrains IDE
.idea

# Generated code
generated

next-env.d.ts
next.config.js

public

.turbo
cache
queries
target

