.idea
.DS_Store

coverage
dist
build
node_modules

*.log
tsconfig.tsbuildinfo

.env*

*.db
dev.db-journal

# secrets
.key*.json
.dune_api_key
.graph_api_key
.sig

circuits/circom/node_modules
circuits/circom/package-lock.json

.docusaurus

.privatekey

addresses.json
proof.json
*.zkey

apis/prove/public/proofs

.next




