.idea
.DS_Store

coverage
build
dist
build
node_modules

*.log

*.db
dev.db-journal

# secrets
.env
.key*
.dune_api_key
.kubeconfig
.graph_api_key
.privatekey
.sig

circuits/circom/node_modules
circuits/circom/package-lock.json

.docusaurus

addresses.json
proof.json
*.zkey

apis/prove/public/proofs

gke_gcloud_auth_plugin_cache


