[submodule "@anonklub/contracts/lib/forge-std"]
	path = @anonklub/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "@anonklub/contracts/lib/openzeppelin-contracts"]
	path = @anonklub/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
