.idea
.DS_Store

coverage
dist
build
node_modules
out

*.log
tsconfig.tsbuildinfo
circuits/circom/cache

.env*

*.db
dev.db-journal

# secrets
.key*.json
.dune_api_key
.graph_api_key
.sig
.wallet_connect_project_id

circuits/circom/node_modules
circuits/circom/package-lock.json

.docusaurus

.privatekey

apis/prove/public/proofs
addresses.json
*.zkey

.next

.turbo
cache

