node_modules
pnpm-lock.yaml

# build dirs
dist
.next

# Jest
coverage

# JetBrains IDE
.idea

*.graphql
.graphclient

public

.turbo

cache
contracts/lib/forge-std
contracts/lib/openzeppelin-contracts
contracts/out

# after editing by the release/changeset workflow, these won't match the formatting rules
package.json

target
.husky/*
commitlint.config.js
.eslint
.eslintignore
.prettierignore

*.rs
*.toml
Dockerfile
