node_modules
pnpm-lock.yaml

# TS build dir
build
dist
.next

# Jest
coverage

# JetBrains IDE
.idea

*.graphql
.graphclient

.docusaurus
public

.turbo

cache
contracts/lib/forge-std
contracts/lib/openzeppelin-contracts
contracts/out



