node_modules
pnpm-lock.yaml

# build dirs
dist
.next

# Jest
coverage

# JetBrains IDE
.idea

*.graphql
.graphclient

public

.turbo

cache
@anonklub/contracts/lib/forge-std
@anonklub/contracts/lib/openzeppelin-contracts
@anonklub/contracts/out

# after editing by the release/changeset workflow, these won't match the formatting rules
package.json


