@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}
