@import url('public/technor.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Technor-Variable', cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}

.background-image {
  background-image: url('anonklub-banner.svg'); /* Adjust path as necessary */
  background-position: center;
  background-size: cover; /* This ensures the image covers the entire screen and maintains aspect ratio */
  background-repeat: no-repeat;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  position: fixed; /* Makes the background stay in place during scrolling */
  top: 0;
  left: 0;
  z-index: -1; /* Ensures the background stays behind other content */
}
