@import url('public/technor.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Technor-Variable', cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}

.background-image {
  background-image: url('anonklub-banner.svg'); /* Adjust path as necessary */
  background-position: center;
  background-size: cover; /* This ensures the image covers the entire screen and maintains aspect ratio */
  background-repeat: no-repeat;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  position: fixed; /* Makes the background stay in place during scrolling */
  top: 0;
  left: 0;
  z-index: -1; /* Ensures the background stays behind other content */
}

@layer components {
  .btn {
    @apply text-grey py-2 px-4 rounded transition ease-in-out duration-300 border-grey border-2
  }

  .btn-primary, .btn-secondary {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue
  }

  .btn-primary {
    @apply hover:bg-gradient-to-r  hover:from-blue hover:to-red
  }

  .btn-secondary {
    @apply text-blue bg-grey hover:bg-blue hover:text-grey
  }

  .btn-warning {
    @apply bg-grey text-red hover:bg-red hover:text-grey
  }

  .btn-connect {
    @apply text-blue hover:text-red
  }

  .is-disabled {
    @apply cursor-not-allowed opacity-50
  }

  .question-box {
    @apply text-grey border border-blue rounded-lg p-4;
  }

  .input {
    background: transparent;
    @apply border border-grey text-grey py-2 px-4 rounded focus:bg-black focus:bg-opacity-50 focus:border-blue
  }

  .field {
    @apply flex flex-row items-center justify-between space-x-2
  }

  .select {
    background: transparent;
    @apply border border-grey text-grey py-2 px-4 rounded focus:bg-black focus:bg-opacity-50 focus:border-blue;
  }
}
