name: Snyk Security Checks
on:
  pull_request:
    branches: [main, staging]
    paths:
      [
        'apis/**',
        'circuits/**',
        '!**/*md',
        '!**/*yaml',
        '!**/*yml',
        '!**/Dockerfile',
      ]
  push:
    branches: [main, staging]
    paths:
      [
        'apis/**',
        'circuits/**',
        '!**/*md',
        '!**/*yaml',
        '!**/*yml',
        '!**/Dockerfile',
      ]

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 19

      - uses: pnpm/action-setup@v2.2.4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-store-

      - name: Install
        run: pnpm i --ignore-scripts --reporter=silent

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --all-projects
